

[class*="btn"] {
  position: absolute;
  height: auto;
  cursor: pointer;
  z-index: 10;
  display: block;
}

/*winter*/
.wintertimer,
.winterQuiz,
.winterDepression,
.winterAnxiety,
.winterPTSD,
.winterED,
.winterADHD {
    width: 100%;
    position: relative;
}

.winterbgtimer,
.winterQuizbg,
.winterDepressionbg,
.winterAnxietybg,
.winterPTSDbg,
.winterEDbg,
.winterADHDbg {
    width: 100%;
    height: auto;
    display: block;
}

.hidden {
  display: none;
}

/*winter buttons*/
.winterbtnwi {width: 10%; top: 80%; right: 15%; transform: rotate(1deg)}
.springbtnwi {width: 10%; top: 80%; right: 26.5%;}
.summerbtnwi {width: 12%; top: 80%; right: 39%;}
.autumnbtnwi {width: 9%; top: 79.7%; right: 52%;}
.darkbtnwi {width: 10%; top: 80%; right: 63%;}
.lightbtnwi {width: 10%; top: 80%; right: 75%;}


/*spring*/
.springtimer,
.springQuiz,
.springDepression,
.springAnxiety,
.springPTSD,
.springED,
.springADHD {
    width: 100%;
    position: relative;
}

.springbgtimer,
.springQuizbg,
.springDepressionbg,
.springAnxietybg,
.springPTSDbg,
.springEDbg,
.springADHDbg {
    width: 100%;
    height: auto;
    display: block;
}

/*spring buttons*/
.winterbtnsp {width: 10%; top: 80%; right: 15%; transform: rotate(1deg)}
.springbtnsp {width: 10%; top: 80%; right: 26.5%;}
.summerbtnsp {width: 12%; top: 80%; right: 39%;}
.autumnbtnsp {width: 9%; top: 79.7%; right: 52%;}
.darkbtnsp {width: 10%; top: 80%; right: 63%;}
.lightbtnsp {width: 10%; top: 80%; right: 75%;}


/*summer*/
.summertimer,
.summerQuiz,
.summerDepression,
.summerAnxiety,
.summerPTSD,
.summerED,
.summerADHD {
    width: 100%;
    position: relative;
}

.summerbgtimer,
.summerQuizbg,
.summerDepressionbg,
.summerAnxietybg,
.summerPTSDbg,
.summerEDbg,
.summerADHDbg {
    width: 100%;
    height: auto;
    display: block;
}

/*summer buttons*/
.winterbtnsu{width: 10%; top: 80%; right: 15%; transform: rotate(1deg)}
.springbtnsu {width: 10%; top: 80%; right: 26.5%;}
.summerbtnsu {width: 12%; top: 80%; right: 39%;}
.autumnbtnsu {width: 9%; top: 79.7%; right: 52%;}
.darkbtnsu {width: 10%; top: 80%; right: 63%;}
.lightbtnsu {width: 10%; top: 80%; right: 75%;}

/*autumn*/
.autumntimer,
.autumnQuiz,
.autumnDepression,
.autumnAnxiety,
.autumnPTSD,
.autumnED,
.autumnADHD {
    width: 100%;
    position: relative;
}

.autumnbgtimer,
.autumnQuizbg,
.autumnDepressionbg,
.autumnAnxietybg,
.autumnPTSDbg,
.autumnEDbg,
.autumnADHDbg {
    width: 100%;
    height: auto;
    display: block;
}

/*autumn buttons*/
.winterbtnau{width: 10%; top: 80%; right: 15%; transform: rotate(1deg)}
.springbtnau {width: 10%; top: 80%; right: 26.5%;}
.summerbtnau {width: 12%; top: 80%; right: 39%;}
.autumnbtnau {width: 9%; top: 79.7%; right: 52%;}
.darkbtnau {width: 10%; top: 80%; right: 63%;}
.lightbtnau {width: 10%; top: 80%; right: 75%;}


/*dark*/
.darktimer,
.darkQuiz,
.darkDepression,
.darkAnxiety,
.darkPTSD,
.darkED,
.darkADHD {
    width: 100%;
    position: relative;
}

.darkbgtimer,
.darkQuizbg,
.darkDepressionbg,
.darkAnxietybg,
.darkPTSDbg,
.darkEDbg,
.darkADHDbg {
    width: 100%;
    height: auto;
    display: block;
}

/*dark buttons*/
.winterbtnd{width: 10%; top: 80%; right: 15%; transform: rotate(1deg)}
.springbtnd {width: 10%; top: 80%; right: 26.5%;}
.summerbtnd {width: 12%; top: 80%; right: 39%;}
.autumnbtnd {width: 9%; top: 79.7%; right: 52%;}
.darkbtnd {width: 10%; top: 80%; right: 63%;}
.lightbtnd {width: 10%; top: 80%; right: 75%;}


/*light*/
.lighttimer,
.lightQuiz,
.lightDepression,
.lightAnxiety,
.lightPTSD,
.lightED,
.lightADHD {
    width: 100%;
    position: relative;
}

.lightbgtimer,
.lightQuizbg,
.lightDepressionbg,
.lightAnxietybg,
.lightPTSDbg,
.lightEDbg,
.lightADHDbg {
    width: 100%;
    height: auto;
    display: block;
}

/*light buttons*/
.winterbtnl{width: 10%; top: 80%; right: 15%; transform: rotate(1deg)}
.springbtnl {width: 10%; top: 80%; right: 26.5%;}
.summerbtnl {width: 12%; top: 80%; right: 39%;}
.autumnbtnl {width: 9%; top: 79.7%; right: 52%;}
.darkbtnl {width: 10%; top: 80%; right: 63%;}
.lightbtnl {width: 10%; top: 80%; right: 75%;}


/* circle buttons */
.circle-buttonsp,
.circle-buttonsu,
.circle-buttonau,
.circle-buttond,
.circle-buttonl,
.circle-buttonwi {
    position: absolute;
    top: 2%;
    left: 1.75%;
    width: 140px;
    height: 140px;
    border: none;
    border-radius: 100px;
    z-index: 5;
    transition: height 0.60s ease;
}
.circle-buttonwi { background-color: rgba(255,255,255,0.7); }
.circle-buttonsp { background-color: rgba(255,255,255,0.7); }
.circle-buttonsu { background-color: rgba(255,255,255,0.7); }
.circle-buttonau { background-color: rgba(255,255,255, 0.7); }
.circle-buttond  { background-color: rgba(255,255,255,0.7); }
.circle-buttonl  { background-color: rgba(0,0,0,0.4); }

/* expanded menu state */
.circle-buttonsp.expanded,
.circle-buttonsu.expanded,
.circle-buttonau.expanded,
.circle-buttond.expanded,
.circle-buttonl.expanded,
.circle-buttonwi.expanded {
    height: 735px;
}


/* Hide all menu buttons by default */
.winterbtnde,
.winterbtnan,
.winterbtnpt,
.winterbtned,
.winterbtnad,
.springbtnde,
.springbtnan,
.springbtnpt,
.springbtned,
.springbtnad,
.summerbtnde,
.summerbtnan,
.summerbtnpt,
.summerbtned,
.summerbtnad,
.autumnbtnde,
.autumnbtnan,
.autumnbtnpt,
.autumnbtned,
.autumnbtnad,
.autumnbtnme,
.darkbtnde,
.darkbtnan,
.darkbtnpt,
.darkbtned,
.darkbtnad,
.lightbtnde,
.lightbtnan,
.lightbtnpt,
.lightbtned,
.lightbtnad{
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.60s ease;

}
.winterbtnde {width: 7%; top: 12%; left: 2.25%; transform: rotate(30deg)}
.winterbtnan {width: 7%; top: 21%; left: 2.25%;transform: rotate(1deg)}
.winterbtnpt {width: 7%; top: 29%; left: 2.25%;transform: rotate(30deg)}
.winterbtned {width: 7%; top: 38%; left: 2.25%;transform: rotate(1deg)}
.winterbtnad {width: 7%; top: 46%; left: 2.25%;transform: rotate(30deg)}
.springbtnde {width: 6%; top: 12%; left: 3%; transform: rotate(40deg)}
.springbtnan {width: 6%; top: 21%; left: 3%;transform: rotate(1deg)}
.springbtnpt {width: 6%; top: 29%; left: 3%;transform: rotate(40deg)}
.springbtned {width: 6%; top: 38%; left: 3%;transform: rotate(1deg)}
.springbtnad {width: 6%; top: 46%; left: 3%;transform: rotate(40deg)}
.summerbtnde {width: 7%; top: 12%; left: 2.75%; transform: rotate(180deg)}
.summerbtnan {width: 7%; top: 21%; left: 2.75%;transform: rotate(1deg)}
.summerbtnpt {width: 7%; top: 29%; left: 2.75%;transform: rotate(180deg)}
.summerbtned {width: 7%; top: 38%; left: 2.75%;transform: rotate(1deg)}
.summerbtnad {width: 7%; top: 46%; left: 2.75%;transform: rotate(180deg)}
.autumnbtnde {width: 6%; top: 12%; left: 3.25%; transform: rotateY(150deg)}
.autumnbtnan {width: 6%; top: 21%; left: 3.25%;transform: rotate(1deg)}
.autumnbtnpt {width: 6%; top: 29%; left: 3.25%;transform: rotateY(150deg)}
.autumnbtned {width: 6%; top: 38%; left: 3.25%;transform: rotate(1deg)}
.autumnbtnad {width: 6%; top: 46%; left: 3.25%;transform: rotateY(150deg)}
.darkbtnde {width: 6%; top: 12%; left: 2.75%; transform: rotate(15deg)}
.darkbtnan {width: 6%; top: 21%; left: 2.75%;transform: rotate(1deg)}
.darkbtnpt {width: 6%; top: 29%; left: 2.75%;transform: rotate(15deg)}
.darkbtned {width: 6%; top: 38%; left: 2.75%;transform: rotate(1deg)}
.darkbtnad {width: 6%; top: 46%; left: 2.75%;transform: rotate(15deg)}
.lightbtnde {width: 6%; top: 12%; left: 3.25%; transform: rotate(15deg)}
.lightbtnan {width: 6%; top: 21%; left: 3.25%;transform: rotate(1deg)}
.lightbtnpt {width: 6%; top: 29%; left: 3.25%;transform: rotate(15deg)}
.lightbtned {width: 6%; top: 38%; left: 3.25%;transform: rotate(1deg)}
.lightbtnad {width: 6%; top: 46%; left: 3.25%;transform: rotate(15deg)}



.winterbtnme,
.springbtnme,
.summerbtnme,
.autumnbtnme,
.darkbtnme,
.lightbtnme { 
    opacity: 1;
    pointer-events: none;
    transition: opacity 0.60s ease;
    transform: rotate(1deg)
}
.winterbtnme {width: 7%; left: 2.25%; top: 3%;}
.springbtnme {width: 6%; left: 3%; top: 3.5%;}
.summerbtnme {width: 7%; left: 2.75%; top: 4%;}
.autumnbtnme {width: 6%; left: 3.25%; top: 3.5%;}
.darkbtnme {width: 6%; left: 2.75%; top: 3.5%;}
.lightbtnme {width: 6%; left: 3.25%; top: 3.5%;}

/* Show menu buttons only when circle is expanded */
.wintertimer .circle-buttonwi.expanded ~ .winterbtnde,
.wintertimer .circle-buttonwi.expanded ~ .winterbtnan,
.wintertimer .circle-buttonwi.expanded ~ .winterbtnpt,
.wintertimer .circle-buttonwi.expanded ~ .winterbtned,
.wintertimer .circle-buttonwi.expanded ~ .winterbtnad,
.wintertimer .circle-buttonwi.expanded ~ .winterbtnme,
.springtimer .circle-buttonsp.expanded ~ .springbtnde,
.springtimer .circle-buttonsp.expanded ~ .springbtnan,
.springtimer .circle-buttonsp.expanded ~ .springbtnpt,
.springtimer .circle-buttonsp.expanded ~ .springbtned,
.springtimer .circle-buttonsp.expanded ~ .springbtnad,
.springtimer .circle-buttonsp.expanded ~ .springbtnme,
.summertimer .circle-buttonsu.expanded ~ .summerbtnde,
.summertimer .circle-buttonsu.expanded ~ .summerbtnan,
.summertimer .circle-buttonsu.expanded ~ .summerbtnpt,
.summertimer .circle-buttonsu.expanded ~ .summerbtned,
.summertimer .circle-buttonsu.expanded ~ .summerbtnad,
.summertimer .circle-buttonsu.expanded ~ .summerbtnme,
.autumntimer .circle-buttonau.expanded ~ .autumnbtnde,
.autumntimer .circle-buttonau.expanded ~ .autumnbtnan,
.autumntimer .circle-buttonau.expanded ~ .autumnbtnpt,
.autumntimer .circle-buttonau.expanded ~ .autumnbtned,
.autumntimer .circle-buttonau.expanded ~ .autumnbtnad,
.autumntimer .circle-buttonau.expanded ~ .autumnbtnme,
.darktimer .circle-buttond.expanded ~ .darkbtnde,
.darktimer .circle-buttond.expanded ~ .darkbtnan,
.darktimer .circle-buttond.expanded ~ .darkbtnpt,
.darktimer .circle-buttond.expanded ~ .darkbtned,
.darktimer .circle-buttond.expanded ~ .darkbtnad,
.darktimer .circle-buttond.expanded ~ .darkbtnme,
.lighttimer .circle-buttonl.expanded ~ .lightbtnde,
.lighttimer .circle-buttonl.expanded ~ .lightbtnan,
.lighttimer .circle-buttonl.expanded ~ .lightbtnpt,
.lighttimer .circle-buttonl.expanded ~ .lightbtned,
.lighttimer .circle-buttonl.expanded ~ .lightbtnad,
.lighttimer .circle-buttonl.expanded ~ .lightbtnme {
  opacity: 1;
  pointer-events: auto;
}




/* settings buttons */
.settingsbtnsp,
.settingsbtnsu,
.settingsbtnau,
.settingsbtnd,
.settingsbtnl,
.settingsbtnwi{
    position: absolute;
    top: 78%;
    left: 12%;
    width: 1300px;
    height: 230px;
    border: none;
    border-radius: 200px;
    z-index: 5;

}
.settingsbtnwi { background-color: rgba(255,255,255,0.8); }
.settingsbtnsp { background-color: rgba(255,255,255,0.8); }
.settingsbtnsu { background-color: rgba(255,255,255,0.8); }
.settingsbtnau { background-color: rgba(255,255,255, 0.8); }
.settingsbtnd  { background-color: rgba(255,255,255,0.8); }
.settingsbtnl  { background-color: rgba(0,0,0,0.5); }

/* quiz me buttons */
.quizmesp,
.quizmesu,
.quizmeau,
.quizmed,
.quizmel,
.quizmewi {
  position: absolute;
  top: 65%;
  left: 44%;
  width: 200px;
  height: 80px;        
  border: none;
  border-radius: 40px;
  z-index: 10;          
  cursor: pointer;
  font-size: 30px;
  text-align: center;
  line-height: 40px;  
  display: block;
}
.quizmewi { background-color: rgba(255, 255, 255, 0.5); color: rgba(2, 40, 43, 1);}
.quizmesp { background-color: rgba(255, 255, 255, 0.5); color: rgba(155, 92, 103, 1);}
.quizmesu { background-color: rgba(255, 255, 255, 0.5); color: rgb(255, 255, 255);}
.quizmeau { background-color: rgba(255, 255, 255, 0.5); color: rgb(77, 40, 39);}
.quizmed  { background-color: rgba(255, 255, 255, 0.5); color: rgb(0, 0, 0);}
.quizmel  { background-color: rgba(0,0,0,0.5); color: rgb(255, 255, 255);}

.quizintro,
.quizinstructions,
.depressionquestions,
.anxietyquestions,
.ptsdquestions,
.edquestions,
.adhdquestions,
.deintro,
.detimer,
.deguide,
.desupport,
.delifeline,
.infoboxad,
.anintro,
.antimer,
.anguide,
.ansupport,
.anlifeline,
.ptintro,
.pttimer,
.ptguide,
.ptsupport,
.ptlifeline,
.edintro,
.edtimer,
.edguide,
.edsupport,
.edlifeline,
.adintro,
.adtimer,
.adguide,
.adsupport,
.adlifeline {
    position: absolute;
    bottom: 5px;
    left: 32.1%;
    transform: translateX(-50%);
    width: 32.1%;
    height: 22%;
    background: rgba(255, 255, 255, 0.5);
    color: #000000;
    border: 2px solid #ffffff;
    border-radius: 16px;
    padding: 1px;
    z-index: 5;
    font-family: 'Poppins', sans-serif;
}
.winterQuiz .quizintro,
.winterQuiz .quizinstructions,
.winterQuiz .depressionquestions,
.winterQuiz .anxietyquestions,
.winterQuiz .ptsdquestions,
.winterQuiz .edquestions,
.winterQuiz .adhdquestions,
.winterDepression .deintro,
.winterDepression .detimer,
.winterDepression .deguide,
.winterDepression .desupport,
.winterDepression .delifeline,
.winterAnxiety .anintro,
.winterAnxiety .antimer,
.winterAnxiety .anguide,
.winterAnxiety .ansupport,
.winterAnxiety .anlifeline,
.winterPTSD .ptintro,
.winterPTSD .pttimer,
.winterPTSD .ptguide,
.winterPTSD .ptsupport,
.winterPTSD .ptlifeline,
.winterED .edintro,
.winterED .edtimer,
.winterED .edguide,
.winterED .edsupport,
.winterED .edlifeline,
.winterADHD .adintro,
.winterADHD .adtimer,
.winterADHD .adguide,
.winterADHD .adsupport,
.winterADHD .adlifeline,
.springQuiz .quizintro,
.springQuiz .quizinstructions,
.springQuiz .depressionquestions,
.springQuiz .anxietyquestions,
.springQuiz .ptsdquestions,
.springQuiz .edquestions,
.springQuiz .adhdquestions,
.springDepression .deintro,
.springDepression .detimer,
.springDepression .deguide,
.springDepression .desupport,
.springDepression .delifeline,
.springAnxiety .anintro,
.springAnxiety .antimer,
.springAnxiety .anguide,
.springAnxiety .ansupport,
.springAnxiety .anlifeline,
.springPTSD .ptintro,
.springPTSD .pttimer,
.springPTSD .ptguide,
.springPTSD .ptsupport,
.springPTSD .ptlifeline,
.springED .edintro,
.springED .edtimer,
.springED .edguide,
.springED .edsupport,
.springED .edlifeline,
.springADHD .adintro,
.springADHD .adtimer,
.springADHD .adguide,
.springADHD .adsupport,
.springADHD .adlifeline,
.summerQuiz .quizintro,
.summerQuiz .quizinstructions,
.summerQuiz .depressionquestions,
.summerQuiz .anxietyquestions,
.summerQuiz .ptsdquestions,
.summerQuiz .edquestions,
.summerQuiz .adhdquestions,
.summerDepression .deintro,
.summerDepression .detimer,
.summerDepression .deguide,
.summerDepression .desupport,
.summerDepression .delifeline,
.summerAnxiety .anintro,
.summerAnxiety .antimer,
.summerAnxiety .anguide,
.summerAnxiety .ansupport,
.summerAnxiety .anlifeline,
.summerPTSD .ptintro,
.summerPTSD .pttimer,
.summerPTSD .ptguide,
.summerPTSD .ptsupport,
.summerPTSD .ptlifeline,
.summerED .edintro,
.summerED .edtimer,
.summerED .edguide,
.summerED .edsupport,
.summerED .edlifeline,
.summerADHD .adintro,
.summerADHD .adtimer,
.summerADHD .adguide,
.summerADHD .adsupport,
.summerADHD .adlifeline,
.autumnQuiz .quizintro,
.autumnQuiz .quizinstructions,
.autumnQuiz .depressionquestions,
.autumnQuiz .anxietyquestions,
.autumnQuiz .ptsdquestions,
.autumnQuiz .edquestions,
.autumnQuiz .adhdquestions,
.autumnDepression .deintro,
.autumnDepression .detimer,
.autumnDepression .deguide,
.autumnDepression .desupport,
.autumnDepression .delifeline,
.autumnAnxiety .anintro,
.autumnAnxiety .antimer,
.autumnAnxiety .anguide,
.autumnAnxiety .ansupport,
.autumnAnxiety .anlifeline,
.autumnPTSD .ptintro,
.autumnPTSD .pttimer,
.autumnPTSD .ptguide,
.autumnPTSD .ptsupport,
.autumnPTSD .ptlifeline,
.autumnED .edintro,
.autumnED .edtimer,
.autumnED .edguide,
.autumnED .edsupport,
.autumnED .edlifeline,
.autumnADHD .adintro,
.autumnADHD .adtimer,
.autumnADHD .adguide,
.autumnADHD .adsupport,
.autumnADHD .adlifeline,
.darkQuiz .quizintro,
.darkQuiz .quizinstructions,
.darkQuiz .depressionquestions,
.darkQuiz .anxietyquestions,
.darkQuiz .ptsdquestions,
.darkQuiz .edquestions,
.darkQuiz .adhdquestions,
.darkDepression .deintro,
.darkDepression .detimer,
.darkDepression .deguide,
.darkDepression .desupport,
.darkDepression .delifeline,
.darkAnxiety .anintro,
.darkAnxiety .antimer,
.darkAnxiety .anguide,
.darkAnxiety .ansupport,
.darkAnxiety .anlifeline,
.darkPTSD .ptintro,
.darkPTSD .pttimer,
.darkPTSD .ptguide,
.darkPTSD .ptsupport,
.darkPTSD .ptlifeline,
.darkED .edintro,
.darkED .edtimer,
.darkED .edguide,
.darkED .edsupport,
.darkED .edlifeline,
.darkADHD .adintro,
.darkADHD .adtimer,
.darkADHD .adguide,
.darkADHD .adsupport,
.darkADHD .adlifeline,
.lightQuiz .quizintro,
.lightQuiz .quizinstructions,
.lightQuiz .depressionquestions,
.lightQuiz .anxietyquestions,
.lightQuiz .ptsdquestions,
.lightQuiz .edquestions,
.lightQuiz .adhdquestions,
.lightDepression .deintro,
.lightDepression .detimer,
.lightDepression .deguide,
.lightDepression .desupport,
.lightDepression .delifeline,
.lightAnxiety .anintro,
.lightAnxiety .antimer,
.lightAnxiety .anguide,
.lightAnxiety .ansupport,
.lightAnxiety .anlifeline,
.lightPTSD .ptintro,
.lightPTSD .pttimer,
.lightPTSD .ptguide,
.lightPTSD .ptsupport,
.lightPTSD .ptlifeline,
.lightED .edintro,
.lightED .edtimer,
.lightED .edguide,
.lightED .edsupport,
.lightED .edlifeline,
.lightADHD .adintro,
.lightADHD .adtimer,
.lightADHD .adguide,
.lightADHD .adsupport,
.lightADHD .adlifeline {
  display: block;     
  position: absolute;
  z-index: 5;            
  left: 50%; 
  width: 85%;
  height:auto;
  background: rgba(255,255,255,0.2);
  font-size: 20px;
  padding: 30px;
}
.winterQuiz .quizintro{ top: 1100px;  height: 160px;  box-sizing: border-box; color: #02282b;}
.winterQuiz .quizinstructions{ top: 1400px;  height: 180px;  box-sizing: border-box;color: #02282b;}
.winterQuiz .depressionquestions{ top: 1700px;  height: 320px;  box-sizing: border-box;color: #02282b;}
.winterQuiz .anxietyquestions{ top: 2050px;  height: 350px;  box-sizing: border-box;color: #02282b;}
.winterQuiz .ptsdquestions { top:  2450px;  height: 350px;  box-sizing: border-box;color: #02282b;}
.winterQuiz .edquestions { top:  2850px;  height: 350px;   box-sizing: border-box;color:#02282b;}
.winterQuiz .adhdquestions { top: 3250px;  height: 350px;  box-sizing: border-box;color: #02282b;}
.winterDepression .deintro  { top: 1100px;  height: 160px;  box-sizing: border-box; color: #02282b;}
.winterDepression .detimer  { top: 1400px;  height: 140px;  box-sizing: border-box;color: #02282b;}
.winterDepression .deguide  { top: 1700px;  height: 205px;  box-sizing: border-box;color: #02282b;}
.winterDepression .desupport{ top: 2000px;  height: 210px;  box-sizing: border-box;color: #02282b;}
.winterDepression .delifeline { top:  2300px;  height: 450px;  box-sizing: border-box;color: #02282b;}
.winterAnxiety .anintro { top: 1100px; height: 160px;   box-sizing: border-box; color: #02282b;}
.winterAnxiety .antimer { top: 1400px; height: 140px;   box-sizing: border-box;color: #02282b;}
.winterAnxiety .anguide { top:1700px; height: 355px;   box-sizing:border-box;color:#02282b;}
.winterAnxiety .ansupport { top: 2000px; height: 180px;   box-sizing: border-box;color: #02282b;}
.winterAnxiety .anlifeline { top:  2300px;  height: 430px;  box-sizing: border-box;color: #02282b;}
.winterPTSD .ptintro { top: 1100px;  height: 180px;  box-sizing: border-box; color: #02282b;}
.winterPTSD .pttimer { top: 1400px;  height: 160px;  box-sizing: border-box;color: #02282b;}
.winterPTSD .ptguide { top: 1700px;  height: 235px;  box-sizing: border-box;color: #02282b;}
.winterPTSD .ptsupport { top: 2000px;  height: 185px;  box-sizing: border-box;color: #02282b;}
.winterPTSD .ptlifeline { top:  2300px;  height: 430px;  box-sizing: border-box;color: #02282b;}
.winterED .edintro { top: 1100px; height: 160px;   box-sizing:border-box; color:#02282b;}
.winterED .edtimer { top: 1400px;   height:140px;   box-sizing:border-box;color:#02282b;}
.winterED .edguide { top: 1700px;  height: 235px;   box-sizing: border-box;color:#02282b;}
.winterED .edsupport { top: 2000px;  height: 185px;   box-sizing: border-box;color:#02282b;}
.winterED .edlifeline { top:  2300px; height: 430px;   box-sizing: border-box;color:#02282b;}
.winterADHD .adintro { top: 1100px; height: 160px;   box-sizing:border-box; color:#02282b;}
.winterADHD .adtimer { top: 1400px;  height: 145px;   box-sizing: border-box;color:#02282b;}
.winterADHD .adguide { top: 1700px;  height: 235px;   box-sizing: border-box;color:#02282b;}
.winterADHD .adsupport { top: 2000px;  height: 185px;   box-sizing: border-box;color:#02282b;}
.winterADHD .adlifeline { top: 2300px; height: 430px;   box-sizing: border-box;color:#02282b;}
.springQuiz .quizintro{ top: 1100px;  height: 160px;  box-sizing: border-box; color: #9f5867;}
.springQuiz .quizinstructions{ top: 1400px;  height: 180px;  box-sizing: border-box;color: #9f5867;}
.springQuiz .depressionquestions{ top: 1700px;  height: 320px;  box-sizing: border-box;color: #9f5867;}
.springQuiz .anxietyquestions{ top: 2050px;  height: 350px;  box-sizing: border-box;color: #9f5867;}
.springQuiz .ptsdquestions { top:  2450px;  height: 350px;  box-sizing: border-box;color: #9f5867;}
.springQuiz .edquestions { top:  2850px;  height: 350px;   box-sizing: border-box;color:#9f5867;}
.springQuiz .adhdquestions { top: 3250px;  height: 350px;  box-sizing: border-box;color: #9f5867;}
.springDepression .deintro  { top: 1100px;  height: 160px;  box-sizing: border-box; color: #9f5867;}
.springDepression .detimer  { top: 1400px;   height: 140px;   box-sizing:border-box;color:#9f5867;}
.springDepression .deguide  { top:1700px ;   height:205px ;   box-sizing:border-box;color:#9f5867;}
.springDepression .desupport{ top: 2000px;  height: 210px;  box-sizing: border-box;color: #9f5867;}
.springDepression .delifeline { top:  2300px;  height: 450px;  box-sizing: border-box;color: #9f5867;}
.springAnxiety .anintro { top: 1100px;  height: 160px;  box-sizing: border-box; color: #9f5867;}
.springAnxiety .antimer { top: 1400px;  height: 140px;   box-sizing: border-box;color: #9f5867;}
.springAnxiety .anguide { top: 1700px;   height: 250px;   box-sizing: border-box;color: #9f5867;}
.springAnxiety .ansupport { top: 2000px;  height: 180px;  box-sizing: border-box;color: #9f5867;}
.springAnxiety .anlifeline { top:  2300px;  height: 430px;  box-sizing: border-box;color: #9f5867;}
.springPTSD .ptintro { top: 1100px;  height: 180px;  box-sizing: border-box; color: #9f5867;}
.springPTSD .pttimer { top: 1400px;  height: 160px;  box-sizing: border-box;color: #9f5867;}
.springPTSD .ptguide { top: 1700px;  height: 235px;  box-sizing: border-box;color: #9f5867;}
.springPTSD .ptsupport { top: 2000px;  height: 185px;  box-sizing: border-box;color: #9f5867;}
.springPTSD .ptlifeline { top: 2300px;   height: -43%;   box-sizing:border-box;color:#9f5867;}
.springED .edintro { top: 1100px;   height:160px;   box-sizing:border-box; color:#9f5867;}
.springED .edtimer { top: 1400px;  height: 140px;   box-sizing: border-box;color: #9f5867;}
.springED .edguide { top: 1700px;   height: 235px;   box-sizing: border-box;color: #9f5867;}
.springED .edsupport { top: 2000px;  height: 185px;  box-sizing: border-box;color: #9f5867;}
.springED .edlifeline { top:  2300px;  height: 430px;  box-sizing: border-box;color:#9f5867;}
.springADHD .adintro { top: 1100px;  height: 160px;  box-sizing: border-box; color:#9f5867;}
.springADHD .adtimer { top: 1400px;  height: 145px;   box-sizing: border-box;color:#9f5867;}
.springADHD .adguide { top: 1700px;   height: 235px;   box-sizing: border-box;color:#9f5867;}
.springADHD .adsupport { top: 2000px; height: 185px;   box-sizing: border-box;color:#9f5867;}
.springADHD .adlifeline { top: 2300px; height: 430px;  box-sizing: border-box;color:#9f5867;}
.summerQuiz .quizintro{ top: 1100px;  height: 160px;  box-sizing: border-box; color: #ffffff;}
.summerQuiz .quizinstructions{ top: 1400px;  height: 180px;  box-sizing: border-box;color: #ffffff;}
.summerQuiz .depressionquestions{ top: 1700px;  height: 320px;  box-sizing: border-box;color: #ffffff;}
.summerQuiz .anxietyquestions{ top: 2050px;  height: 350px;  box-sizing: border-box;color: #ffffff;}
.summerQuiz .ptsdquestions { top:  2450px;  height: 350px;  box-sizing: border-box;color: #ffffff;}
.summerQuiz .edquestions { top:  2850px;  height: 350px;   box-sizing: border-box;color:#ffffff;}
.summerQuiz .adhdquestions { top:  3250px;  height: 350px;  box-sizing: border-box;color: #ffffff;}
.summerDepression .deintro  { top: 1100px;   height: 160px;   box-sizing: border-box;color: #ffffff }
.summerDepression .detimer  { top:1400px;   height:140px;   box-sizing:border-box;color:#ffffff}
.summerDepression .deguide  { top:1700px;   height:205px;   box-sizing:border-box;color:#ffffff}
.summerDepression .desupport{ top: 2000px; height: 210px; box-sizing: border-box;color: #ffffff}
.summerDepression .delifeline { top: 2300px;  height: 450px;  box-sizing: border-box;color: #ffffff}
.summerAnxiety .anintro { top: 1100px;  height: 160px;  box-sizing: border-box;color: #ffffff }
.summerAnxiety .antimer { top: 1400px;  height: 140px;   box-sizing: border-box;color: #ffffff}
.summerAnxiety .anguide { top: 1700px;  height: 250px;   box-sizing: border-box;color: #ffffff}
.summerAnxiety .ansupport { top: 2000px; height: 180px;   box-sizing: border-box;color: #ffffff}
.summerAnxiety .anlifeline { top: 2300px;  height: 430px;  box-sizing: border-box;color: #ffffff}
.summerPTSD .ptintro { top: 1100px;  height: 180px;  box-sizing: border-box; color: #ffffff}
.summerPTSD .pttimer { top: 1400px;  height: 160px;  box-sizing: border-box;color: #ffffff}
.summerPTSD .ptguide { top: 1700px;  height: 235px;  box-sizing: border-box;color: #ffffff}
.summerPTSD .ptsupport { top: 2000px;  height: 185px;  box-sizing: border-box;color: #ffffff}
.summerPTSD .ptlifeline { top: 2300px;  height: 430px;  box-sizing: border-box;color: #ffffff}
.summerED .edintro { top: 1100px;   height: 160px;   box-sizing: border-box; color:#ffffff}
.summerED .edtimer { top: 1400px;  height: 140px;   box-sizing: border-box;color: #ffffff}
.summerED .edguide { top: 1700px;  height: 235px;  box-sizing: border-box;color: #ffffff}
.summerED .edsupport { top: 2000px;  height: 185px;  box-sizing: border-box;color: #ffffff}
.summerED .edlifeline { top: 2300px;   height: 430px;   box-sizing: border-box;color:#ffffff}
.summerADHD .adintro { top: 1100px;  height: 160px;  box-sizing: border-box; color: #ffffff}
.summerADHD .adtimer { top: 1400px;  height: 145px;   box-sizing: border-box;color: #ffffff}
.summerADHD .adguide { top: 1700px;   height: 235px;   box-sizing: border-box;color: #ffffff}
.summerADHD .adsupport { top: 2000px; height: 185px;   box-sizing: border-box;color: #ffffff}
.summerADHD .adlifeline { top: 2300px;  height: 430px;  box-sizing: border-box;color:#ffffff}
.autumnQuiz .quizintro{ top: 1100px;  height: 160px;  box-sizing: border-box; color:#4d2827;}
.autumnQuiz .quizinstructions{ top: 1400px;  height: 180px;  box-sizing: border-box;color: #4d2827;}
.autumnQuiz .depressionquestions{ top: 1700px;  height: 320px;  box-sizing: border-box;color: #4d2827;}
.autumnQuiz .anxietyquestions{ top: 2050px;  height: 350px;  box-sizing: border-box;color: #4d2827;}
.autumnQuiz .ptsdquestions { top: 2450px;   height: 350px;   box-sizing: border-box;color: #4d2827;}
.autumnQuiz .edquestions { top: 2850px;   height: 350px;   box-sizing: border-box;color:#4d2827;}
.autumnQuiz .adhdquestions { top:  3250px;  height: 350px;  box-sizing: border-box;color: #4d2827;}
.autumnDepression .deintro  { top: 1100px;  height: 160px;  box-sizing: border-box; color:#4d2827;}
.autumnDepression .detimer  { top: 1400px;  height: 140px;  box-sizing: border-box;color:#4d2827;}
.autumnDepression .deguide  { top: 1700px;  height: 205px;  box-sizing: border-box;color:#4d2827;}
.autumnDepression .desupport{ top: 2000px; height: 210px; box-sizing: border-box;color:#4d2827;}
.autumnDepression .delifeline { top:2300px; height:	450px; box-sizing:border-box;color:#4d2827;}
.autumnAnxiety .anintro { top:	1100px; height:	160px; box-sizing:border-box;color:#4d2827;}
.autumnAnxiety .antimer { top: 1400px;   height: 140px;   box-sizing: border-box;color:#4d2827;}
.autumnAnxiety .anguide { top: 1700px;   height: 250px;   box-sizing: border-box;color:#4d2827;}
.autumnAnxiety .ansupport { top: 2000px; height: 180px;   box-sizing: border-box;color:#4d2827;}
.autumnAnxiety .anlifeline { top: 2300px;  height: 430px;  box-sizing: border-box;color:#4d2827;}
.autumnPTSD .ptintro { top: 1100px;  height: 180px;  box-sizing: border-box; color:#4d2827;}
.autumnPTSD .pttimer { top: 1400px;  height: 160px;  box-sizing: border-box;color:#4d2827;}
.autumnPTSD .ptguide { top: 1700px;  height: 235px;  box-sizing: border-box;color:#4d2827;}
.autumnPTSD .ptsupport { top: 2000px; height: 185px;   box-sizing: border-box;color:#4d2827;}
.autumnPTSD .ptlifeline { top:  2300px;  height: 430px;  box-sizing: border-box;color:#4d2827;}
.autumnED .edintro { top:	1100px; height:	160px; box-sizing:border-box;color:#4d2827;}
.autumnED .edtimer { top: 1400px;   height:140px;   box-sizing:border-box;color:#4d2827;}
.autumnED .edguide { top: 1700px;  height: 235px;   box-sizing: border-box;color:#4d2827;}
.autumnED .edsupport { top: 2000px;  height: 185px;   box-sizing: border-box;color:#4d2827;}
.autumnED .edlifeline { top: 2300px;  height: 430px;  box-sizing: border-box;color:#4d2827;}
.autumnADHD .adintro { top: 1100px;  height: 160px;  box-sizing: border-box; color:#4d2827;}
.autumnADHD .adtimer { top: 1400px;  height: 145px;   box-sizing: border-box;color:#4d2827;}
.autumnADHD .adguide { top: 1700px;  height: 235px;   box-sizing: border-box;color:#4d2827;}
.autumnADHD .adsupport { top: 2000px; height: 185px;   box-sizing: border-box;color:#4d2827;}
.autumnADHD .adlifeline { top:  2300px;  height: 430px;  box-sizing: border-box;color:#4d2827;}
.darkQuiz .quizintro{ top: 1100px;  height: 160px;  box-sizing: border-box; color: #ffffff;}
.darkQuiz .quizinstructions{ top: 1400px;  height: 180px;  box-sizing: border-box;color: #ffffff;}
.darkQuiz .depressionquestions{ top: 1700px;  height: 320px;  box-sizing: border-box;color: #ffffff;}
.darkQuiz .anxietyquestions{ top: 2050px; height:	350px;   box-sizing:border-box;color:#ffffff;}
.darkQuiz .ptsdquestions { top: 2450px; height:	350px;   box-sizing:border-box;color:#ffffff;}
.darkQuiz .edquestions { top: 2850px;  height: 350px;  box-sizing: border-box;color: #ffffff;}
.darkQuiz .adhdquestions { top: 3250px;  height: 350px;  box-sizing: border-box;color: #ffffff;}
.darkDepression .deintro  { top: 1100px;  height: 160px;  box-sizing: border-box;color: #ffffff; }
.darkDepression .detimer  { top: 1400px;  height: 140px;  box-sizing: border-box;color: #ffffff;}
.darkDepression .deguide  { top: 1700px;  height: 205px;  box-sizing: border-box; color: #ffffff;}
.darkDepression .desupport{ top: 2000px; height:	210px;   box-sizing:border-box;color:#ffffff;}
.darkDepression .delifeline { top: 2300px;  height: 450px;  box-sizing: border-box;color: #ffffff;}
.darkAnxiety .anintro { top: 1100px;  height: 160px;  box-sizing: border-box; color: #ffffff;}
.darkAnxiety .antimer { top: 1400px;   height: 140px;   box-sizing: border-box;color: #ffffff;}
.darkAnxiety .anguide { top: 1700px;   height: 250px;   box-sizing: border-box;color: #ffffff;}
.darkAnxiety .ansupport { top: 2000px;  height: 180px;  box-sizing: border-box;color: #ffffff;}
.darkAnxiety .anlifeline { top: 2300px;  height: 430px;  box-sizing: border-box;color: #ffffff;}
.darkPTSD .ptintro { top: 1100px;  height: 180px;  box-sizing: border-box; color: #ffffff;}
.darkPTSD .pttimer { top: 1400px;  height: 160px;  box-sizing: border-box;color: #ffffff;}
.darkPTSD .ptguide { top: 1700px;  height: 235px;   box-sizing: border-box;color: #ffffff;}
.darkPTSD .ptsupport { top:	2000px; height:	185px;   box-sizing:border-box;color:#ffffff;}
.darkPTSD .ptlifeline { top:  2300px;  height: 430px;  box-sizing: border-box;color: #ffffff;}    
.darkED .edintro { top: 1100px;  height: 160px;  box-sizing: border-box; color: #ffffff;}
.darkED .edtimer { top: 1400px;  height: 140px;  box-sizing: border-box;color: #ffffff;}
.darkED .edguide { top: 1700px;  height: 235px;   box-sizing: border-box;color: #ffffff;}
.darkED .edsupport { top: 2000px;   height: 185px;   box-sizing: border-box;color: #ffffff;}
.darkED .edlifeline { top: 2300px;  height: 430px;  box-sizing: border-box;color: #ffffff;}
.darkADHD .adintro { top: 1100px;  height: 160px;  box-sizing: border-box; color: #ffffff;}
.darkADHD .adtimer { top: 1400px;  height: 145px;  box-sizing: border-box;color: #ffffff;}
.darkADHD .adguide { top: 1700px;  height: 235px;  box-sizing: border-box;color: #ffffff;}
.darkADHD .adsupport { top:	2000px; height:	185px;   box-sizing:border-box;color:#ffffff;}
.darkADHD .adlifeline { top: 2300px; height:	430px;   box-sizing:border-box;color:#ffffff;}
.lightQuiz .quizintro{ top: 1100px;  height: 160px;  box-sizing: border-box; color: #000;}
.lightQuiz .quizinstructions{ top: 1400px;  height: 180px;  box-sizing: border-box;color: #000;}
.lightQuiz .depressionquestions{ top: 1700px;  height: 320px;  box-sizing: border-box;color: #000;}
.lightQuiz .anxietyquestions{ top: 2050px;  height: 350px;  box-sizing: border-box;color: #000;}
.lightQuiz .ptsdquestions { top: 2450px;  height: 350px;  box-sizing: border-box;color: #000;}
.lightQuiz .edquestions { top: 2850px;  height: 350px;  box-sizing: border-box;color: #000;}
.lightQuiz .adhdquestions { top: 3250px;  height: 350px;  box-sizing: border-box;color: #000;}
.lightDepression .deintro { top: 1100px; height :160px ;box-sizing:border-box ;color:#000 ;}
.lightDepression .detimer  { top: 1400px;  height: 140px;  box-sizing: border-box;  color: #000;}
.lightDepression .deguide  { top: 1700px;  height: 205px;  box-sizing: border-box;  color: #000;}
.lightDepression .desupport{ top: 20005px; height :210px ;box-sizing:border-box ;color:#000 ;}
.lightDepression .delifeline { top:	2300px; height :450px ;box-sizing:border-box ;color:#000 ;}
.lightAnxiety .anintro { top: 1100px; height :160px ;box-sizing:border-box ;color:#000 ;}
.lightAnxiety .antimer { top: 1400px;   height: 140px;   box-sizing: border-box;  color: #000;}
.lightAnxiety .anguide { top: 1700px;  height: 250px;  box-sizing: border-box;  color: #000;}
.lightAnxiety .ansupport { top: 2000px;  height: 180px;  box-sizing: border-box;  color: #000;}
.lightAnxiety .anlifeline { top: 2300px;  height: 430px;  box-sizing: border-box;  color: #000;}
.lightPTSD .ptintro { top:	1100px; height :180px ;box-sizing:border-box ;color:#000 ;}
.lightPTSD .pttimer { top:	1400px; height :160px ;box-sizing:border-box ;color:#000 ;}
.lightPTSD .ptguide { top: 1700px;  height: 235px;  box-sizing: border-box;  color: #000;}
.lightPTSD .ptsupport { top: 2000px;  height: 185px;  box-sizing: border-box;  color: #000;}
.lightPTSD .ptlifeline { top: 2300px;  height: 430px;  box-sizing: border-box;  color: #000;}
.lightED .edintro { top: 1100px; height :160px ;box-sizing:border-box ;color:#000 ;}
.lightED .edtimer { top: 1400px; height :145px ;box-sizing:border-box ;color:#000 ;}
.lightED .edguide { top: 1700px;  height: 235px;  box-sizing: border-box;  color: #000;}
.lightED .edsupport { top: 2000px;  height: 185px;  box-sizing: border-box;  color: #000;}
.lightED .edlifeline { top: 2300px; height :430px ;box-sizing:border-box ;color:#000 ;}
.lightADHD .adintro { top: 1100px; height :160px ;box-sizing:border-box ;color:#000 ;}
.lightADHD .adtimer { top:	1400px; height :145px ;box-sizing:border-box ;color:#000 ;}
.lightADHD .adguide { top: 1700px;  height: 235px;   box-sizing: border-box;  color: #000;}
.lightADHD .adsupport { top: 2000px; height: 185px;  box-sizing: border-box;  color: #000; }
.lightADHD .adlifeline { top: 2300px;  height: 430px;  box-sizing: border-box;  color: #000;}



