

[class*="btn"] {
  position: absolute;
  height: auto;
  cursor: pointer;
  z-index: 10;
  display: block;
}

/*winter*/
.winterbgtimer {
    position: absolute;
    width: 99.5%;
    height: auto;
    overflow: hidden;
    background: #000;
    z-index: 0;
}

.hidden {
  display: none;
}


/*winter buttons*/
.winterbtnwi {width: 10%; top: 133%; right: 15%; transform: rotate(1deg)}
.springbtnwi {width: 10%; top: 133%; right: 26.5%;}
.summerbtnwi {width: 12%; top: 133%; right: 39%;}
.autumnbtnwi {width: 9%; top: 132.7%; right: 52%;}
.darkbtnwi {width: 10%; top: 133%; right: 63%;}
.lightbtnwi {width: 10%; top: 133%; right: 75%;}

/*winter quiz*/
.winterQuiz{
    position: absolute;
    width: auto;
    height: auto;
    overflow: hidden;
    background: #000;
    z-index: 0;
}
.hidden {
  display: none;
}

/*spring*/
.springbgtimer {
    position: absolute;
    width: 99.5%;
    height: auto;
    overflow: hidden;
    background: #000;
    z-index: 0;
}

/*spring buttons*/
.winterbtnsp {width: 10%; top: 133%; right: 15%; transform: rotate(1deg)}
.springbtnsp {width: 10%; top: 133%; right: 26.5%;}
.summerbtnsp {width: 12%; top: 133%; right: 39%;}
.autumnbtnsp {width: 9%; top: 132.7%; right: 52%;}
.darkbtnsp {width: 10%; top: 133%; right: 63%;}
.lightbtnsp {width: 10%; top: 133%; right: 75%;}

/*spring quiz*/
.SpringQuiz{
    position: absolute;
    width: auto;
    height: auto;
    overflow: hidden;
    background: #000;
    z-index: 0;
}

/*summer*/
.summerbgtimer {
    position: absolute;
    width: 99.5%;
    height: auto;
    overflow: hidden;
    background: #000;
    z-index: 0;
}

/*summer buttons*/
.winterbtnsu{width: 10%; top: 133%; right: 15%; transform: rotate(1deg)}
.springbtnsu {width: 10%; top: 133%; right: 26.5%;}
.summerbtnsu {width: 12%; top: 133%; right: 39%;}
.autumnbtnsu {width: 9%; top: 132.7%; right: 52%;}
.darkbtnsu {width: 10%; top: 133%; right: 63%;}
.lightbtnsu {width: 10%; top: 133%; right: 75%;}

/*summer quiz*/
.SummerQuiz{
    position: absolute;
    width: 1000px;
    height: auto;
    overflow: hidden;
    background: #000;
    z-index: 0;
}

/*autumn*/
.autumnbgtimer {
    position: absolute;
    width: 99.5%;
    height: auto;
    overflow: hidden;
    background: #000;
    z-index: 0;
}
/*autumn buttons*/
.winterbtnau{width: 10%; top: 133%; right: 15%; transform: rotate(1deg)}
.springbtnau {width: 10%; top: 133%; right: 26.5%;}
.summerbtnau {width: 12%; top: 133%; right: 39%;}
.autumnbtnau {width: 9%; top: 132.7%; right: 52%;}
.darkbtnau {width: 10%; top: 133%; right: 63%;}
.lightbtnau {width: 10%; top: 133%; right: 75%;}

/*autumn quiz*/
.AutumnQuiz{
    position: absolute;
    width: 99.5%;
    height: auto;
    overflow: hidden;
    background: #000;
    z-index: 0;
}

/*dark*/
.darkbgtimer {
    position: absolute;
    width: 99.5%;
    height: auto;
    overflow: hidden;
    background: #000;
    z-index: 0;
}
/*dark buttons*/
.winterbtnd{width: 10%; top: 133%; right: 15%; transform: rotate(1deg)}
.springbtnd {width: 10%; top: 133%; right: 26.5%;}
.summerbtnd {width: 12%; top: 133%; right: 39%;}
.autumnbtnd {width: 9%; top: 132.7%; right: 52%;}
.darkbtnd {width: 10%; top: 133%; right: 63%;}
.lightbtnd {width: 10%; top: 133%; right: 75%;}

/*dark quiz*/
.DarkQuiz{
    position: absolute;
    width: 99.5%;
    height: auto;
    overflow: hidden;
    background: #000;
    z-index: 0;
}

/*light*/
.lightbgtimer {
    position: absolute;
    width: 99.5%;
    height: auto;
    overflow: hidden;
    background: #000;
    z-index: 0;
}
/*light buttons*/
.winterbtnl{width: 10%; top: 133%; right: 15%; transform: rotate(1deg)}
.springbtnl {width: 10%; top: 133%; right: 26.5%;}
.summerbtnl {width: 12%; top: 133%; right: 39%;}
.autumnbtnl {width: 9%; top: 132.7%; right: 52%;}
.darkbtnl {width: 10%; top: 133%; right: 63%;}
.lightbtnl {width: 10%; top: 133%; right: 75%;}

/*light quiz*/
.LightQuiz{
    position: absolute;
    width: 99.5%;
    height: auto;
    overflow: hidden;
    background: #000;
    z-index: 0;
}


/* circle buttons */
.circle-buttonsp,
.circle-buttonsu,
.circle-buttonau,
.circle-buttond,
.circle-buttonl,
.circle-buttonwi {
    position: absolute;
    top: 3%;
    left: 2%;
    width: 130px;
    height: 175px;
    border: none;
    border-radius: 100px;
    z-index: 5;
    transition: height 0.60s ease;
}
.circle-buttonwi { background-color: rgba(255,255,255,0.7); }
.circle-buttonsp { background-color: rgba(255,255,255,0.7); }
.circle-buttonsu { background-color: rgba(255,255,255,0.7); }
.circle-buttonau { background-color: rgba(255,255,255, 0.7); }
.circle-buttond  { background-color: rgba(255,255,255,0.7); }
.circle-buttonl  { background-color: rgba(0,0,0,0.4); }

/* expanded menu state */
.circle-buttonsp.expanded,
.circle-buttonsu.expanded,
.circle-buttonau.expanded,
.circle-buttond.expanded,
.circle-buttonl.expanded,
.circle-buttonwi.expanded {
    height: 680px;
}


/* Hide all menu buttons by default */
.winterbtnde,
.winterbtnan,
.winterbtnpt,
.winterbtned,
.winterbtnad,
.springbtnde,
.springbtnan,
.springbtnpt,
.springbtned,
.springbtnad,
.summerbtnde,
.summerbtnan,
.summerbtnpt,
.summerbtned,
.summerbtnad,
.autumnbtnde,
.autumnbtnan,
.autumnbtnpt,
.autumnbtned,
.autumnbtnad,
.autumnbtnme,
.darkbtnde,
.darkbtnan,
.darkbtnpt,
.darkbtned,
.darkbtnad,
.lightbtnde,
.lightbtnan,
.lightbtnpt,
.lightbtned,
.lightbtnad{
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}
.winterbtnde {width: 7%; top: 20%; left: 2.75%; transform: rotate(30deg)}
.winterbtnan {width: 7%; top: 33%; left: 2.75%;transform: rotate(1deg)}
.winterbtnpt {width: 7%; top: 46%; left: 2.75%;transform: rotate(30deg)}
.winterbtned {width: 7%; top: 59%; left: 2.75%;transform: rotate(1deg)}
.winterbtnad {width: 7%; top: 72%; left: 2.75%;transform: rotate(30deg)}
.springbtnde {width: 6%; top: 20%; left: 3.25%; transform: rotate(40deg)}
.springbtnan {width: 6%; top: 33%; left: 3.25%;transform: rotate(1deg)}
.springbtnpt {width: 6%; top: 46%; left: 3.25%;transform: rotate(40deg)}
.springbtned {width: 6%; top: 59%; left: 3.25%;transform: rotate(1deg)}
.springbtnad {width: 6%; top: 72%; left: 3.25%;transform: rotate(40deg)}
.summerbtnde {width: 7%; top: 20%; left: 2.75%; transform: rotate(180deg)}
.summerbtnan {width: 7%; top: 33%; left: 2.75%;transform: rotate(1deg)}
.summerbtnpt {width: 7%; top: 46%; left: 2.75%;transform: rotate(180deg)}
.summerbtned {width: 7%; top: 59%; left: 2.75%;transform: rotate(1deg)}
.summerbtnad {width: 7%; top: 72%; left: 2.75%;transform: rotate(180deg)}
.autumnbtnde {width: 6%; top: 20%; left: 3.25%; transform: rotateY(150deg)}
.autumnbtnan {width: 6%; top: 33%; left: 3.25%;transform: rotate(1deg)}
.autumnbtnpt {width: 6%; top: 46%; left: 3.25%;transform: rotateY(150deg)}
.autumnbtned {width: 6%; top: 59%; left: 3.25%;transform: rotate(1deg)}
.autumnbtnad {width: 6%; top: 72%; left: 3.25%;transform: rotateY(150deg)}
.darkbtnde {width: 6%; top: 20%; left: 3.25%; transform: rotate(15deg)}
.darkbtnan {width: 6%; top: 33%; left: 3.25%;transform: rotate(1deg)}
.darkbtnpt {width: 6%; top: 46%; left: 3.25%;transform: rotate(15deg)}
.darkbtned {width: 6%; top: 59%; left: 3.25%;transform: rotate(1deg)}
.darkbtnad {width: 6%; top: 72%; left: 3.25%;transform: rotate(15deg)}
.lightbtnde {width: 6%; top: 20%; left: 3.25%; transform: rotate(15deg)}
.lightbtnan {width: 6%; top: 33%; left: 3.25%;transform: rotate(1deg)}
.lightbtnpt {width: 6%; top: 46%; left: 3.25%;transform: rotate(15deg)}
.lightbtned {width: 6%; top: 59%; left: 3.25%;transform: rotate(1deg)}
.lightbtnad {width: 6%; top: 72%; left: 3.25%;transform: rotate(15deg)}



.winterbtnme,
.springbtnme,
.summerbtnme,
.autumnbtnme,
.darkbtnme,
.lightbtnme { 
    opacity: 1;
    pointer-events: none;
    transition: opacity 0.3s ease;
    transform: rotate(1deg)
}
.winterbtnme {width: 7%; left: 2.75%; top: 7%;}
.springbtnme {width: 6%; left: 3.25%; top: 7%;}
.summerbtnme {width: 7%; left: 2.75%; top: 7%;}
.autumnbtnme {width: 6%; left: 3.25%; top: 7%;}
.darkbtnme {width: 6%; left: 3.25%; top: 7%;}
.lightbtnme {width: 6%; left: 3.25%; top: 7%;}

/* Show menu buttons only when circle is expanded */
.wintertimer .circle-buttonwi.expanded ~ .winterbtnde,
.wintertimer .circle-buttonwi.expanded ~ .winterbtnan,
.wintertimer .circle-buttonwi.expanded ~ .winterbtnpt,
.wintertimer .circle-buttonwi.expanded ~ .winterbtned,
.wintertimer .circle-buttonwi.expanded ~ .winterbtnad,
.wintertimer .circle-buttonwi.expanded ~ .winterbtnme,
.springtimer .circle-buttonsp.expanded ~ .springbtnde,
.springtimer .circle-buttonsp.expanded ~ .springbtnan,
.springtimer .circle-buttonsp.expanded ~ .springbtnpt,
.springtimer .circle-buttonsp.expanded ~ .springbtned,
.springtimer .circle-buttonsp.expanded ~ .springbtnad,
.springtimer .circle-buttonsp.expanded ~ .springbtnme,
.summertimer .circle-buttonsu.expanded ~ .summerbtnde,
.summertimer .circle-buttonsu.expanded ~ .summerbtnan,
.summertimer .circle-buttonsu.expanded ~ .summerbtnpt,
.summertimer .circle-buttonsu.expanded ~ .summerbtned,
.summertimer .circle-buttonsu.expanded ~ .summerbtnad,
.summertimer .circle-buttonsu.expanded ~ .summerbtnme,
.autumntimer .circle-buttonau.expanded ~ .autumnbtnde,
.autumntimer .circle-buttonau.expanded ~ .autumnbtnan,
.autumntimer .circle-buttonau.expanded ~ .autumnbtnpt,
.autumntimer .circle-buttonau.expanded ~ .autumnbtned,
.autumntimer .circle-buttonau.expanded ~ .autumnbtnad,
.autumntimer .circle-buttonau.expanded ~ .autumnbtnme,
.darktimer .circle-buttond.expanded ~ .darkbtnde,
.darktimer .circle-buttond.expanded ~ .darkbtnan,
.darktimer .circle-buttond.expanded ~ .darkbtnpt,
.darktimer .circle-buttond.expanded ~ .darkbtned,
.darktimer .circle-buttond.expanded ~ .darkbtnad,
.darktimer .circle-buttond.expanded ~ .darkbtnme,
.lighttimer .circle-buttonl.expanded ~ .lightbtnde,
.lighttimer .circle-buttonl.expanded ~ .lightbtnan,
.lighttimer .circle-buttonl.expanded ~ .lightbtnpt,
.lighttimer .circle-buttonl.expanded ~ .lightbtned,
.lighttimer .circle-buttonl.expanded ~ .lightbtnad,
.lighttimer .circle-buttonl.expanded ~ .lightbtnme {
  opacity: 1;
  pointer-events: auto;
}




/* settings buttons */
.settingsbtnsp,
.settingsbtnsu,
.settingsbtnau,
.settingsbtnd,
.settingsbtnl,
.settingsbtnwi{
    position: absolute;
    top: 128%;
    left: 12%;
    width: 1200px;
    height: 230px;
    border: none;
    border-radius: 200px;
    z-index: 5;

}
.settingsbtnwi { background-color: rgba(255,255,255,0.8); }
.settingsbtnsp { background-color: rgba(255,255,255,0.8); }
.settingsbtnsu { background-color: rgba(255,255,255,0.8); }
.settingsbtnau { background-color: rgba(255,255,255, 0.8); }
.settingsbtnd  { background-color: rgba(255,255,255,0.8); }
.settingsbtnl  { background-color: rgba(0,0,0,0.5); }

/* quiz me buttons */
.quizmesp,
.quizmesu,
.quizmeau,
.quizmed,
.quizmel,
.quizmewi {
  position: absolute;
  top: 115%;
  left: 44%;
  width: 200px;
  height: 80px;        
  border: none;
  border-radius: 40px;
  z-index: 10;          
  cursor: pointer;
  font-size: 30px;
  text-align: center;
  line-height: 40px;  
  display: block;
}
.quizmewi { background-color: rgba(255, 255, 255, 0.5); color: rgba(2, 40, 43, 1);}
.quizmesp { background-color: rgba(255, 255, 255, 0.5); color: rgba(155, 92, 103, 1);}
.quizmesu { background-color: rgba(255, 255, 255, 0.5); color: rgba(228, 118, 17, 1);}
.quizmeau { background-color: rgba(255, 255, 255, 0.5); color: rgb(0, 0, 0);}
.quizmed  { background-color: rgba(255, 255, 255, 0.5); color: rgba(2, 40, 43, 1);}
.quizmel  { background-color: rgba(0,0,0,0.5); color: rgb(255, 255, 255);}



