

[class*="btn"] {
  position: absolute;
  height: auto;
  cursor: pointer;
  z-index: 10;
  display: block;
}

/*winter*/
.wintertimer,
.winterQuiz,
.winterDepression,
.winterAnxiety,
.winterPTSD,
.winterED,
.winterADHD {
    width: 100%;
    position: relative;
}

.winterbgtimer,
.winterQuizbg,
.winterDepressionbg,
.winterAnxietybg,
.winterPTSDbg,
.winterEDbg,
.winterADHDbg {
    width: 100%;
    height: auto;
    display: block;
}

.hidden {
  display: none;
}

/*winter buttons*/
.winterbtnwi {width: 10%; top: 81%; right: 15%; transform: rotate(1deg)}
.springbtnwi {width: 10%; top: 81%; right: 26.5%;}
.summerbtnwi {width: 12%; top: 81%; right: 39%;}
.autumnbtnwi {width: 9%; top: 80.7%; right: 52%;}
.darkbtnwi {width: 10%; top: 81%; right: 63%;}
.lightbtnwi {width: 10%; top: 81%; right: 75%;}


/*spring*/
.springtimer,
.springQuiz,
.springDepression,
.springAnxiety,
.springPTSD,
.springED,
.springADHD {
    width: 100%;
    position: relative;
}

.springbgtimer,
.springQuizbg,
.springDepressionbg,
.springAnxietybg,
.springPTSDbg,
.springEDbg,
.springADHDbg {
    width: 100%;
    height: auto;
    display: block;
}

/*spring buttons*/
.winterbtnsp {width: 10%; top: 81%; right: 15%; transform: rotate(1deg)}
.springbtnsp {width: 10%; top: 81%; right: 26.5%;}
.summerbtnsp {width: 12%; top: 81%; right: 39%;}
.autumnbtnsp {width: 9%; top: 80.7%; right: 52%;}
.darkbtnsp {width: 10%; top: 81%; right: 63%;}
.lightbtnsp {width: 10%; top: 81%; right: 75%;}


/*summer*/
.summertimer,
.summerQuiz,
.summerDepression,
.summerAnxiety,
.summerPTSD,
.summerED,
.summerADHD {
    width: 100%;
    position: relative;
}

.summerbgtimer,
.summerQuizbg,
.summerDepressionbg,
.summerAnxietybg,
.summerPTSDbg,
.summerEDbg,
.summerADHDbg {
    width: 100%;
    height: auto;
    display: block;
}

/*summer buttons*/
.winterbtnsu{width: 10%; top: 81%; right: 15%; transform: rotate(1deg)}
.springbtnsu {width: 10%; top: 81%; right: 26.5%;}
.summerbtnsu {width: 12%; top: 81%; right: 39%;}
.autumnbtnsu {width: 9%; top: 80.7%; right: 52%;}
.darkbtnsu {width: 10%; top: 81%; right: 63%;}
.lightbtnsu {width: 10%; top: 81%; right: 75%;}

/*autumn*/
.autumntimer,
.autumnQuiz,
.autumnDepression,
.autumnAnxiety,
.autumnPTSD,
.autumnED,
.autumnADHD {
    width: 100%;
    position: relative;
}

.autumnbgtimer,
.autumnQuizbg,
.autumnDepressionbg,
.autumnAnxietybg,
.autumnPTSDbg,
.autumnEDbg,
.autumnADHDbg {
    width: 100%;
    height: auto;
    display: block;
}

/*autumn buttons*/
.winterbtnau{width: 10%; top: 81%; right: 15%; transform: rotate(1deg)}
.springbtnau {width: 10%; top: 81%; right: 26.5%;}
.summerbtnau {width: 12%; top: 81%; right: 39%;}
.autumnbtnau {width: 9%; top: 80.7%; right: 52%;}
.darkbtnau {width: 10%; top: 81%; right: 63%;}
.lightbtnau {width: 10%; top: 81%; right: 75%;}


/*dark*/
.darktimer,
.darkQuiz,
.darkDepression,
.darkAnxiety,
.darkPTSD,
.darkED,
.darkADHD {
    width: 100%;
    position: relative;
}

.darkbgtimer,
.darkQuizbg,
.darkDepressionbg,
.darkAnxietybg,
.darkPTSDbg,
.darkEDbg,
.darkADHDbg {
    width: 100%;
    height: auto;
    display: block;
}

/*dark buttons*/
.winterbtnd{width: 10%; top: 81%; right: 15%; transform: rotate(1deg)}
.springbtnd {width: 10%; top: 81%; right: 26.5%;}
.summerbtnd {width: 12%; top: 81%; right: 39%;}
.autumnbtnd {width: 9%; top: 80.7%; right: 52%;}
.darkbtnd {width: 10%; top: 81%; right: 63%;}
.lightbtnd {width: 10%; top: 81%; right: 75%;}


/*light*/
.lighttimer,
.lightQuiz,
.lightDepression,
.lightAnxiety,
.lightPTSD,
.lightED,
.lightADHD {
    width: 100%;
    position: relative;
}

.lightbgtimer,
.lightQuizbg,
.lightDepressionbg,
.lightAnxietybg,
.lightPTSDbg,
.lightEDbg,
.lightADHDbg {
    width: 100%;
    height: auto;
    display: block;
}

/*light buttons*/
.winterbtnl{width: 10%; top: 81%; right: 15%; transform: rotate(1deg)}
.springbtnl {width: 10%; top: 81%; right: 26.5%;}
.summerbtnl {width: 12%; top: 81%; right: 39%;}
.autumnbtnl {width: 9%; top: 80.7%; right: 52%;}
.darkbtnl {width: 10%; top: 81%; right: 63%;}
.lightbtnl {width: 10%; top: 81%; right: 75%;}


/* circle buttons */
.circle-buttonsp,
.circle-buttonsu,
.circle-buttonau,
.circle-buttond,
.circle-buttonl,
.circle-buttonwi {
    position: absolute;
    top: 2%;
    left: 1.75%;
    width: 140px;
    height: 140px;
    border: none;
    border-radius: 100px;
    z-index: 5;
    transition: height 0.60s ease;
}
.circle-buttonwi { background-color: rgba(255,255,255,0.7); }
.circle-buttonsp { background-color: rgba(255,255,255,0.7); }
.circle-buttonsu { background-color: rgba(255,255,255,0.7); }
.circle-buttonau { background-color: rgba(255,255,255, 0.7); }
.circle-buttond  { background-color: rgba(255,255,255,0.7); }
.circle-buttonl  { background-color: rgba(0,0,0,0.4); }

/* expanded menu state */
.circle-buttonsp.expanded,
.circle-buttonsu.expanded,
.circle-buttonau.expanded,
.circle-buttond.expanded,
.circle-buttonl.expanded,
.circle-buttonwi.expanded {
    height: 670px;
}


/* Hide all menu buttons by default */
.winterbtnde,
.winterbtnan,
.winterbtnpt,
.winterbtned,
.winterbtnad,
.springbtnde,
.springbtnan,
.springbtnpt,
.springbtned,
.springbtnad,
.summerbtnde,
.summerbtnan,
.summerbtnpt,
.summerbtned,
.summerbtnad,
.autumnbtnde,
.autumnbtnan,
.autumnbtnpt,
.autumnbtned,
.autumnbtnad,
.autumnbtnme,
.darkbtnde,
.darkbtnan,
.darkbtnpt,
.darkbtned,
.darkbtnad,
.lightbtnde,
.lightbtnan,
.lightbtnpt,
.lightbtned,
.lightbtnad{
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.60s ease;

}
.winterbtnde {width: 7%; top: 12%; left: 2.75%; transform: rotate(30deg)}
.winterbtnan {width: 7%; top: 21%; left: 2.75%;transform: rotate(1deg)}
.winterbtnpt {width: 7%; top: 29%; left: 2.75%;transform: rotate(30deg)}
.winterbtned {width: 7%; top: 38%; left: 2.75%;transform: rotate(1deg)}
.winterbtnad {width: 7%; top: 46%; left: 2.75%;transform: rotate(30deg)}
.springbtnde {width: 6%; top: 12%; left: 3.25%; transform: rotate(40deg)}
.springbtnan {width: 6%; top: 21%; left: 3.25%;transform: rotate(1deg)}
.springbtnpt {width: 6%; top: 29%; left: 3.25%;transform: rotate(40deg)}
.springbtned {width: 6%; top: 38%; left: 3.25%;transform: rotate(1deg)}
.springbtnad {width: 6%; top: 46%; left: 3.25%;transform: rotate(40deg)}
.summerbtnde {width: 7%; top: 12%; left: 2.75%; transform: rotate(180deg)}
.summerbtnan {width: 7%; top: 21%; left: 2.75%;transform: rotate(1deg)}
.summerbtnpt {width: 7%; top: 29%; left: 2.75%;transform: rotate(180deg)}
.summerbtned {width: 7%; top: 38%; left: 2.75%;transform: rotate(1deg)}
.summerbtnad {width: 7%; top: 46%; left: 2.75%;transform: rotate(180deg)}
.autumnbtnde {width: 6%; top: 12%; left: 3.25%; transform: rotateY(150deg)}
.autumnbtnan {width: 6%; top: 21%; left: 3.25%;transform: rotate(1deg)}
.autumnbtnpt {width: 6%; top: 29%; left: 3.25%;transform: rotateY(150deg)}
.autumnbtned {width: 6%; top: 38%; left: 3.25%;transform: rotate(1deg)}
.autumnbtnad {width: 6%; top: 46%; left: 3.25%;transform: rotateY(150deg)}
.darkbtnde {width: 6%; top: 12%; left: 3.25%; transform: rotate(15deg)}
.darkbtnan {width: 6%; top: 21%; left: 3.25%;transform: rotate(1deg)}
.darkbtnpt {width: 6%; top: 29%; left: 3.25%;transform: rotate(15deg)}
.darkbtned {width: 6%; top: 38%; left: 3.25%;transform: rotate(1deg)}
.darkbtnad {width: 6%; top: 46%; left: 3.25%;transform: rotate(15deg)}
.lightbtnde {width: 6%; top: 12%; left: 3.25%; transform: rotate(15deg)}
.lightbtnan {width: 6%; top: 21%; left: 3.25%;transform: rotate(1deg)}
.lightbtnpt {width: 6%; top: 29%; left: 3.25%;transform: rotate(15deg)}
.lightbtned {width: 6%; top: 38%; left: 3.25%;transform: rotate(1deg)}
.lightbtnad {width: 6%; top: 46%; left: 3.25%;transform: rotate(15deg)}



.winterbtnme,
.springbtnme,
.summerbtnme,
.autumnbtnme,
.darkbtnme,
.lightbtnme { 
    opacity: 1;
    pointer-events: none;
    transition: opacity 0.60s ease;
    transform: rotate(1deg)
}
.winterbtnme {width: 7%; left: 2.75%; top: 3.5%;}
.springbtnme {width: 6%; left: 3.25%; top: 3.5%;}
.summerbtnme {width: 7%; left: 2.75%; top: 4%;}
.autumnbtnme {width: 6%; left: 3.25%; top: 3.5%;}
.darkbtnme {width: 6%; left: 3.25%; top: 3.5%;}
.lightbtnme {width: 6%; left: 3.25%; top: 3.5%;}

/* Show menu buttons only when circle is expanded */
.wintertimer .circle-buttonwi.expanded ~ .winterbtnde,
.wintertimer .circle-buttonwi.expanded ~ .winterbtnan,
.wintertimer .circle-buttonwi.expanded ~ .winterbtnpt,
.wintertimer .circle-buttonwi.expanded ~ .winterbtned,
.wintertimer .circle-buttonwi.expanded ~ .winterbtnad,
.wintertimer .circle-buttonwi.expanded ~ .winterbtnme,
.springtimer .circle-buttonsp.expanded ~ .springbtnde,
.springtimer .circle-buttonsp.expanded ~ .springbtnan,
.springtimer .circle-buttonsp.expanded ~ .springbtnpt,
.springtimer .circle-buttonsp.expanded ~ .springbtned,
.springtimer .circle-buttonsp.expanded ~ .springbtnad,
.springtimer .circle-buttonsp.expanded ~ .springbtnme,
.summertimer .circle-buttonsu.expanded ~ .summerbtnde,
.summertimer .circle-buttonsu.expanded ~ .summerbtnan,
.summertimer .circle-buttonsu.expanded ~ .summerbtnpt,
.summertimer .circle-buttonsu.expanded ~ .summerbtned,
.summertimer .circle-buttonsu.expanded ~ .summerbtnad,
.summertimer .circle-buttonsu.expanded ~ .summerbtnme,
.autumntimer .circle-buttonau.expanded ~ .autumnbtnde,
.autumntimer .circle-buttonau.expanded ~ .autumnbtnan,
.autumntimer .circle-buttonau.expanded ~ .autumnbtnpt,
.autumntimer .circle-buttonau.expanded ~ .autumnbtned,
.autumntimer .circle-buttonau.expanded ~ .autumnbtnad,
.autumntimer .circle-buttonau.expanded ~ .autumnbtnme,
.darktimer .circle-buttond.expanded ~ .darkbtnde,
.darktimer .circle-buttond.expanded ~ .darkbtnan,
.darktimer .circle-buttond.expanded ~ .darkbtnpt,
.darktimer .circle-buttond.expanded ~ .darkbtned,
.darktimer .circle-buttond.expanded ~ .darkbtnad,
.darktimer .circle-buttond.expanded ~ .darkbtnme,
.lighttimer .circle-buttonl.expanded ~ .lightbtnde,
.lighttimer .circle-buttonl.expanded ~ .lightbtnan,
.lighttimer .circle-buttonl.expanded ~ .lightbtnpt,
.lighttimer .circle-buttonl.expanded ~ .lightbtned,
.lighttimer .circle-buttonl.expanded ~ .lightbtnad,
.lighttimer .circle-buttonl.expanded ~ .lightbtnme {
  opacity: 1;
  pointer-events: auto;
}




/* settings buttons */
.settingsbtnsp,
.settingsbtnsu,
.settingsbtnau,
.settingsbtnd,
.settingsbtnl,
.settingsbtnwi{
    position: absolute;
    top: 78%;
    left: 12%;
    width: 1200px;
    height: 230px;
    border: none;
    border-radius: 200px;
    z-index: 5;

}
.settingsbtnwi { background-color: rgba(255,255,255,0.8); }
.settingsbtnsp { background-color: rgba(255,255,255,0.8); }
.settingsbtnsu { background-color: rgba(255,255,255,0.8); }
.settingsbtnau { background-color: rgba(255,255,255, 0.8); }
.settingsbtnd  { background-color: rgba(255,255,255,0.8); }
.settingsbtnl  { background-color: rgba(0,0,0,0.5); }

/* quiz me buttons */
.quizmesp,
.quizmesu,
.quizmeau,
.quizmed,
.quizmel,
.quizmewi {
  position: absolute;
  top: 65%;
  left: 44%;
  width: 200px;
  height: 80px;        
  border: none;
  border-radius: 40px;
  z-index: 10;          
  cursor: pointer;
  font-size: 30px;
  text-align: center;
  line-height: 40px;  
  display: block;
}
.quizmewi { background-color: rgba(255, 255, 255, 0.5); color: rgba(2, 40, 43, 1);}
.quizmesp { background-color: rgba(255, 255, 255, 0.5); color: rgba(155, 92, 103, 1);}
.quizmesu { background-color: rgba(255, 255, 255, 0.5); color: rgba(228, 118, 17, 1);}
.quizmeau { background-color: rgba(255, 255, 255, 0.5); color: rgb(0, 0, 0);}
.quizmed  { background-color: rgba(255, 255, 255, 0.5); color: rgb(0, 0, 0);}
.quizmel  { background-color: rgba(0,0,0,0.5); color: rgb(255, 255, 255);}


.deintro,
.detimer,
.deguide,
.desupport,
.infoboxad,
.antimer,
.anguide,
.ansupport,
.ptintro,
.pttimer,
.ptguide,
.ptsupport,
.edintro,
.edtimer,
.edguide,
.edsupport,
.adintro,
.adtimer,
.adguide,
.adsupport{
    position: absolute;
    bottom: 5px;
    left: 32.1%;
    transform: translateX(-50%);
    width: 32.1%;
    height: 22%;
    background: rgba(255, 255, 255, 0.5);
    color: #000000;
    border: 2px solid #ffffff;
    border-radius: 16px;
    padding: 1px;
    z-index: 5;
    font-family: 'Poppins', sans-serif;
}
